<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin text-center" action="/login" method="post">
            <h1 class="mb-3 font-weight-normal mb-4">Login</h1>

            <label for="inputUsername" class="sr-only">Username</label>
            <input  class="form-control" type="text" id="inputUsername" name="username" placeholder="Username" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password" required>

            <div class="form-group text-left my-3">
                <a href="/forgot">Forgot Password ?</a>
            </div>

            <button class="btn btn-lg btn-outline-primary" type="submit">Sign in</button>
        </form>
        <div class="form-signin">
            <a class="btn pl-0" href="/campgrounds"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>